.card{
  width: 100%;
}
img{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.fab{
  position: relative;
  border-radius: 50%;
  padding: 24px 14px 23px 10px;
}

.img-detail{
  width:100%;
}
.card-body{
  position: fixed;
  background: #fff;
}
